.section2 {
  .startInfo {
    font-size: 40px;
    font-weight: 600;
    color: #333;
    padding-top: 30px;
  }

  h3 {
    font-size: 35px;
    color: #333;
  }

  .BuiltYourOwnStand {
    padding-top: 45px;
    line-height: 10px;
    font-size: 20px;
    color: #333;
  }

  input {
    padding: 12px;
    border-radius: 25px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    border-bottom: solid rgba(237, 205, 31, 1);
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
  }

  .erros {
    color: red;
    font-size: 15px;
  }
}
