.tableStyle {
  margin: 50px 300px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.tableinfo {
  margin: 40px 40px;
}

.tableTittles {
  font-weight: 800;
  font-size: 20px;
  color: white;
  background-color: #696969;
}

.tableTittlesTotal {
  font-weight: 800;
  font-size: 25px;
  color: #494949;
  background-color: rgba(237, 205, 31, 1);
}

.specifications {
  font-weight: 700;
  font-size: 25px;
  color: #707070;
}

.tableDetails {
  font-size: 18px;
  color: #302f2f;
}

.addQuantitySection {
  display: inline-flex;
  font-weight: 700;
  margin: 10px;
}

.buttonQuantityAdd {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  font-size: 30px;
  background-color: rgba(237, 205, 31, 1);
  color: white;
  font-weight: 1000;
  box-shadow: 2px 3px 8px 1px rgba(0, 0, 0, 0.4);
  border: transparent;
  width: 30px;
  text-align: center;
  z-index: 10;
}

.buttonQuantityRest {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  font-size: 30px;
  background-color: rgba(237, 205, 31, 1);
  color: white;
  font-weight: 1000;
  box-shadow: -2px 3px 8px 1px rgba(0, 0, 0, 0.4);
  border: transparent;
  width: 30px;
  z-index: 10;
}

.quantity {
  text-align: center;
  background-color: #dddddd;
  width: 50px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.4);
  vertical-align: middle !important;
}

.priceResume {
  color: rgba(237, 205, 31, 1);
  float: right;
  margin-right: 20px;
  font-weight: 700;
}

.priceResumeFurniture {
  color: rgba(237, 205, 31, 1);
  margin-right: 30px !important;
  font-weight: 700;
  vertical-align: middle !important;
}

.furnitureDetail {
  vertical-align: middle !important;
  font-size: 18px;
  color: #302f2f;
}
